<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="print_barcode.Properties.Settings.LOGODBSEREConnectionString"
      connectionString="Data Source=ip;Initial Catalog=db;Persist Security Info=True;User ID=sa;Password=pass"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
